// Import of the archive global of variables
@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

.ca-card
	border-radius: $border-rad
	.activator
		font-size: .8rem
		padding: .85rem 2.13rem
		border-radius: 10em
		border: 0
		color: #fff!important
		margin: 6px
		white-space: normal!important
		word-wrap: break-word
		margin-right: 27%
		@media (min-width: $tablet-size-portrait - 20px) and (max-width: $tablet-size-landscape)
			margin-right: 22%

#ca-cardData
	margin-top: 1rem
	padding: 0rem 2rem 0rem 1rem
	border-right: solid .2rem #bdbdbd

#ca-cardGoal
	margin-top: 1rem
	padding: 0rem 1.1rem 0rem 2rem

.ca-formData
	.md-form
		margin-bottom: 0rem
