@import "../../_standardVariables.sass"
@import "mixins.sass"

$title-color: rgba($color-black-elegant-light, .75)
.text-right
   text-align: right
.gst-card
   background-color: $color-white
   padding: 1rem
   border-radius: $border-rad

#gst-material
   margin-top: 1.2rem
   margin-bottom: 1rem
#gst-row-game
   margin-top: 0rem !important
iframe body
   border-radius: $border-rad

#gst-dataGame
   h1
      text-align: center
      font-size: 1rem
      font-weight: bold
      color: $title-color
   img
      border-radius: $border-rad

.gst-btnGame
   margin: 0
   margin-top: 1rem

#gst-info
   height: 16rem !important

#gst-back
   background-color: $color-white
   cursor: pointer

#gst-btnInstructs
   border-color: $color-info-dark
   color: $color-info-dark !important

#gst-btnPlay
   border: solid $color-info-dark
   background-color: $color-info-dark

#gst-info
   #gst-max
      margin: -1rem
      padding: .3rem 1rem
      padding-top: .5rem
      background-color: $color-skin
      color: $color-white
      border-top-left-radius: $border-rad
      border-top-right-radius: $border-rad
      h5
         font-weight: bold
   #gst-ranking
      margin: -1rem
      padding: 1rem
      padding-top: 2.3rem
      color: $title-color
      h6
         font-weight: bold

.gst-hr
   border: solid .1rem rgba($color-gray-light, .3)

#gst-material
   h6
      text-align: center
      font-weight: bold
      color: $title-color

#gst-modal
   .modal-dialog
      .modal-content
         border-radius: .5rem
         .modal-body
            border-radius: .5rem
            text-align: center
            background-image: url(/packages/assets/media/images/avatar/backgrounds/menDefSkBlue098754.png)
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            #gst-avCel
               width: 195px
               height: 258px
               background-image: url(/packages/assets/media/images/avatar/sprites/sprite.png)
               background-position: 195px 258px
               background-repeat: repeat
               transform: scale(0.85)
               margin: 0 auto
            h1
               font-weight: bold
            button
               background-color: $color-skin !important
               width: 70% !important
               margin-left: 15%
               letter-spacing: 3px
            .row
               margin-top: 2rem
               margin-bottom: 2rem
               div
                  h4
                     font-size: 1.3rem
                     font-weight: bold

#in-content-activity
   padding: 1.5rem

.text-left
   text-align: left
#gst-modal-instruction
   .modal-content
      background-color: transparent !important

#gst-modal-pdf-video,#gst-modal-instruction
   #gst-iframe-content
      border: none
      border-left-top-radius: $border-rad
      border-left-bottom-radius: $border-rad
   background-color: rgba(0,0,0,.9) !important
   .modal-body
      padding: 0 !important
   .modal-content
      border-radius: $border-rad !important
   .close
      position: absolute
      right: .2rem
      top: 0
      cursor: pointer
      z-index: 1000
      color: $color-white
   .gst-information
      padding-top: 0
      padding-left: 0
      padding-right: 0
      margin-bottom: 0
      max-width: 100%
      .gst-information-footer
         background-color: #ebeff1
         color: $color-gray-dark
         padding-top: .5rem
         padding-bottom: .5rem
         padding-right: .5rem
         position: relative
         bottom: 0

   .gst-col
      padding: 0 !important
   .row
      margin-right: 0
      margin-left: 0
   .gst-hr-top
      margin-top: 0
   .gst-hr-bottom
      margin-bottom: 0
   .gst-information-list
      max-height: 54%
      overflow: auto
      .media
         padding: .5rem
         cursor: pointer
         &:hover
            background-color: #ebeff1
         &.active
            background-color: #ebeff1
   .gst-informataion-header
      padding-top: 1rem
      padding-bottom: 1rem
      background-color: $color-primary
      color: $color-white
      border-top-right-radius: $border-rad
   p
      margin-bottom: 0
   .gst-name-content
      font-size: .9rem
   .gst-title-conten
      margin-top: 1rem
   .gst-name-content-list,.gst-views-content-list
      font-size: .7rem
.gst-bg-gray
   background-color: #e9ebee !important
#gst-video-pdf
   border: none

#gst-materialPdf
   border-color: $color-secondary
   color: $color-secondary !important
#gst-materialVideo
   border-color: $color-danger
   color: $color-danger !important
#gst-dataGame
   margin-bottom: 1rem

+mediaQuerie(576px,776px)
   #gst-modal-pdf-video,#gst-modal-instruction
      .modal-dialog
         min-width: 750px
+mediaQuerieMin(780px)
   #gst-modal-pdf-video,#gst-modal-instruction
      .modal-dialog
         min-width: 1000px

+mediaQuerie(576px,776px)
   #gst-modal-pdf-video,#gst-modal-instruction
      .modal-dialog
         min-width: 750px

#gst-img-instruction
   cursor: pointer
   width: 100%
   min-height: 46vh
   max-height: 62vh

