// Import of the archive global of variables
@import "../../_standardVariables.sass"

$btnColor-active: #2BBBAD

.btn
	border-radius: $border-rad

.lp-topic-active
	background-color: $btnColor-active !important
	&:hover
		background-color: $btnColor-active !important

.lp-container-degrees
	background-color: #fff
	border-radius: $border-rad
	padding: .3rem .8rem .3rem .8rem

.lp-text-degrees
	border-right: .1rem solid #000
	margin-top: 1.8%
	padding-top: .3rem
	margin-right: .5rem
	
.lp-btn-degrees
	margin-right: -.3rem !important
	
#lp-row-degrees
	margin-top: -1rem
	
