// Import of the archive global of variables
@import "../../_standardVariables.sass"

$btnColor-active: #2BBBAD

.lp-btn-degrees
	border-radius: $border-rad

.lp-topic-active
	background-color: $btnColor-active !important
	&:hover
		background-color: $btnColor-active !important

.lp-container-degrees
	background-color: #fff
	border-radius: $border-rad
	padding: .3rem .8rem .3rem .8rem

.lp-text-degrees
	border-right: .1rem solid #000
	margin-top: 1.8%
	padding-top: .3rem
	margin-right: .5rem
	
.lp-btn-degrees
	margin-right: -.3rem !important
	
#lp-row-degrees
	margin-top: -1rem
	
.lp-container-pdf
	background-color: #fff
	padding: .1rem .8rem .8rem .8rem
	border-radius: $border-rad

.lp-card-pdf
	border-radius: $border-rad !important
	height: auto
	margin-top: 1rem
	background-color: rgba($color-black,.6)

.lp-bg
	background: url(/packages/assets/media/images/child/pdf.png) repeat center center
	background-size: cover
	border-radius: $border-rad

.lp-bg-card
	@extend .lp-bg

.lp-name-pdf
	word-wrap: break-word !important

.lp-text-card
	color: $color-white

.lp-hr
	border: .1rem solid #fff
