@import "../../_standardVariables.sass"

#childMenu-name-menu
   background-color: $color-skin
   color: $color-white
   padding: 1rem
   font-size: 1rem
   border-top-left-radius: $border-rad
   border-top-right-radius: $border-rad
   margin: -1rem
   margin-bottom: 1rem
   text-align: center

#childMenu-avatarContainer
   background-image: $bg-menu
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   margin: -1rem
   padding: 1rem
   div
      width: 195px
      height: 258px
      background-image: url(/packages/assets/media/images/avatar/sprites/sprite.png)
      background-position: 195px 258px
      background-repeat: repeat
      transform: scale(.85)
      margin: 0 auto

#childMenu-icon-home
   color: $color-pink

#childMenu-icon-study
   color: $color-warning-light

#childMenu-icon-videos
   color: $color-danger

#childMenu-icon-store
   color: $color-purple

#childMenu-icon-profile
   color: $color-purple

#childMenu-icon-exit
   color: $color-primary
