@import "../../_standardVariables.sass"

#name-menu
   background-color: $color-skin
   color: #fff
   padding: 1rem
   font-size: 1rem
   border-top-left-radius: $border-rad
   border-top-right-radius: $border-rad
   margin: -1rem
   margin-bottom: 1rem

#avatarContainer
   background-image: $bg-menu
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   margin: -1rem
   padding: 1rem
   padding-left: 3rem
   div
      width: 195px
      height: 258px
      background-image: url(/packages/assets/media/images/avatar/sprites/sprite.png)
      background-position: 195px 258px
      background-repeat: repeat
      transform: scale(.85)

#icon-home
   color: $color-pink

#icon-study
   color: $color-orange

#icon-profile
   color: $color-green

#icon-videos
   color: $color-red

#icon-files
   color: $color-blue

#icon-store
   color: $color-light-purple
