@import "../../_standardVariables.sass"
@import "mixins.sass"

.ms-active
	background-color: $color-default !important

.btn-inteligent
	border-radius: $border-rad

.btn-red
	background-color: $color-default

.btn-green
	background-color: $color-success-dark

.btn
	&:hover
		color: $color-white

.pagination-breadcrumbs
	padding: .2rem .3rem !important
.btn-inteligent
	&:hover
		+transform(scale(1.01))

.row-level,.row-bloque
	position: relative
	display: none
.row-inteligents
	position: relative

.pagination
	display: inline-block
	margin: .1rem 0 !important

.row-level>
	.col
		position: relative

.row-bloque>
	.col
		position: relative

a.dismiss
	position: absolute
	right: 1.7rem
	cursor: pointer
	color: $color-white
	&:hover
		text-decoration: none
.text-black
	color: #000 !important

.pagination.pagination-item-blue
	>.item-pagination
		background-color: $color-primary
.pagination.pagination-item-green
	>.item-pagination
		background-color: $color-success-dark
.pagination.pagination-item-red
	>.item-pagination
		background-color: $color-danger

.pagination.pagination-item-purple
	>.item-pagination
		background-color: $color-purple


.pagination
	>.item-pagination
		&:hover
			transition: .2s
			+transform(scale(1.1))

.pagination.pagination-purple
	>.item-pagination
		&:hover
			background-color: $color-purple


.pagination.pagination-green
	>.item-pagination
		&:hover
			background-color: $color-success-dark


.pagination
	&:before
		content: ""
		width: 2rem
		height: 2rem
		position: absolute
		left: 1rem
		top: -.9rem
		z-index: -9999 !important
		background-color: $color-white
		+transform(rotate(135deg))
.pagination.pagination-center
	&:before
		content: ""
		width: 2rem
		height: 2rem
		position: absolute
		left: 4rem
		top: -.9rem
		z-index: -9999 !important
		background-color: $color-white
		+transform(rotate(135deg))

.pagination.pagination-purple
	>.item-pagination.active
		background-color: $color-purple

.pagination.pagination-green
	>.item-pagination.active
		background-color: $color-success-dark

.card-bloque,.card-level
	background: $color-white
	width: 100%
	border-radius: $border-rad
	box-shadow: $shadow
	margin: 0.5rem 0 1rem 0
	transition-property: box-shadow
	transition-duration: 0.25s
	transition-timing-function: initial
	transition-delay: initial
.card-level
	background-color: $color-white
	.card-content-bloque
		h6
			color: $color-black-elegant-dark !important

.card
	border-radius: $border-rad !important
.text-white
	color: $color-white
.card-bloque
	.card-content-bloque
		width: 100%
		min-height: 7vh
		padding: .1rem .4rem
		display: inline-block

.card-title-bloque,.card-title-level
	border-right: .06rem solid #000 !important
	display: inline-block !important
	padding: .6rem 1.4rem
	margin-right: 1rem
.card-title-level
	border-right: .06rem solid #fff

.col-inteligent
	position: relative
.btn-inteligent.waves-effect
	position: static !important

.btn-inteligent
	div.ms-arrow
		position: absolute
		background: inherit
		width: 2.1rem
		height: 2.1rem
		display: none
		top: .9rem
		z-index: -9999999
		+transform(rotate(135deg))

.btn-inteligent.active
	>.ms-arrow
		display: block

.card-bloque
	a.btn-bloque.active
		background-color: $color-default !important
.card-level
	a.btn-level.active
		background-color: $color-default !important


.text-center
	text-align: center
	height: 8rem
	.ms-btnAccess
		margin-top: 10%

.card-game
	.card-block>*
		margin-bottom: .2rem

.card-game
	.card-block>p
		padding: .01rem

.card-game
	.card-block>
		h5
			padding: .01rem

.card-game
	.card-block
		padding: .5rem

.card-game
	border-radiud: $border-rad

.ms-card
	.mask
		border-top-left-radius: $border-rad !important
		border-top-right-radius: $border-rad !important

#ms-conteiner-all
	background-color: $color-white
	border-radius: $border-rad
	padding: 1rem
	margin-bottom: 1rem
	margin-top: 1rem
	+background-cover("/packages/assets/media/images/child/popularsgames.jpg")

.ms-btn-info
	background-color: $color-warning-dark

.ms-btnTopic
	background-color: $color-info-light

.btn-bloque, .btn-level
	background-color: $color-info-light
	border-radius: $border-rad

.ms-close
	color: $color-warning-dark !important
	margin-top: .6rem
	@media (max-width: $smartphone-size-portrait + 30px)
		margin-top: -9.5rem !important

// Nuevo estilo despues de super conflictos

.ms-bannerWhitOut
	height: 3rem
	background: $color-skin

.ms-btnAccess
	background-color: $color-skin

.ms-tit
	text-align: center !important
	color: $color-white !important
	font-size: 1rem !important
