// Import of the archive global of variables
@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

#sela-banner
	height: $height-banner
	border-radius: $border-rad
	+background-cover("/packages/assets/media/images/child/store/BannerTitle/cstbannerskblue.png")

#sela-container
	height: auto
	background-color: $color-white
	margin-top: 1rem
	border-radius: $border-rad
	padding: 2rem 1rem 2rem 1rem
