@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

#acti-btnNew
   color: $color-white
   background-color: $color-primary
   margin-top: 1rem
   margin-bottom: 1rem

.acti-container
   cursor: pointer
   img
      border-top-left-radius: $border-rad
      border-top-right-radius: $border-rad
   h6
      background-color: $color-primary
      padding: .5rem
      margin-bottom: 1.5rem
      font-size: .7rem
      color: $color-white
      border-bottom-right-radius: $border-rad
      border-bottom-left-radius: $border-rad

.acti-btnConf
   background-color: transparent !important
   border: 2px solid $color-primary
   color: $color-primary !important

.acti-btnGame
   background-color: $color-primary !important
   border: 2px solid $color-primary !important
   color: $color-white !important

.acti-btnDel
   background-color: $color-danger !important
   color: $color-white !important
