@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

.adAv-name
  text-align: center !important

.adAv-img
  background-repeat: repeat !important
  background-position: center center !important
  background-size: cover !important
  width: 100%

.adAv-adjust
  padding: 0 !important
textarea
  width: 3rem
  height: 5rem
  resize: none
