@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

.adIn
  height: 10rem
  width: 10rem

.adInHeader
  background-color: $color-primary !important
  height: 3.5rem
  border-radius: $border-rad
  border-style: solid
  border-right-color: $color-white

#adIn-card
  width: 61rem
  height: 6rem

#adIn-selection
  padding-left: 1.1rem

.j
  border-radius: $border-rad !important
  width: 9.5rem
  height: 3rem

.adIn-color
  background-color: $color-primary

.adIn-adjust
  padding-top: 1rem

.adIn-modal-adjust
  width: 13rem !important
