@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

#asch-btnNew
   color: $color-white
   background-color: $color-primary
   margin-top: 1rem
   margin-bottom: 1rem

#asch-save
   border-radius: $border-rad
   background-color: $color-primary
   color: $color-white
   background-color: $color-primary !important
   border: solid $color-primary !important

#asch-cancel
   border-color: $color-warning-dark !important
   color: $color-warning-dark !important
   border-radius: $border-rad

.asch-container
   cursor: pointer
   border-radius: $border-rad
   margin-top: .75rem
   margin-bottom: .75rem
   img
      border-top-left-radius: $border-rad
      border-top-right-radius: $border-rad
      background-color: $color-white
      padding: 1rem
   h6
      background-color: $color-primary
      padding: .5rem
      margin: 0rem
      font-size: .7rem
      color: $color-white
      border-bottom-right-radius: $border-rad
      border-bottom-left-radius: $border-rad

.asch-btnConf
   background-color: $color-primary !important

.asch-btnDel
   background-color: $color-danger !important

#asch-open
   font-size: .8rem
   padding-left: 1.5rem
   padding-right: 1.5rem
   cursor: pointer
   background-color: $color-primary
   color: $color-white
   border-top-left-radius: $border-rad
   border-bottom-left-radius: $border-rad

#asch_name
   padding-left: 1rem
   padding-right: 1rem
   box-sizing: border-box

#asch_pdf
   display: none
