@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

.alev-buttons
   margin-top: 1rem
   margin-bottom: 1rem
   button
      margin: 0

#alev-btnNew
   color: $color-white
   background-color: $color-primary

#alev-save
   border-radius: $border-rad
   background-color: $color-primary
   color: $color-white
   background-color: $color-primary !important
   border: solid $color-primary !important

#alev-cancel
   border-color: $color-warning-dark !important
   color: $color-warning-dark !important
   border-radius: $border-rad

#aint-btnNew
   @extend #alev-btnNew

#aint-save
   @extend #alev-save

#aint-cancel
   @extend #alev-cancel

.aint-buttons
   @extend .alev-buttons

#ablk-btnNew
   @extend #alev-btnNew

#ablk-save
   @extend #alev-save

#ablk-cancel
   @extend #alev-cancel

.ablk-buttons
   @extend .alev-buttons

#atp-btnNew
   @extend #alev-btnNew

#atp-save
   @extend #alev-save

#atp-cancel
   @extend #alev-cancel

.atp-buttons
   @extend .alev-buttons

#albpdf-btnNew
   @extend #alev-btnNew

#albpdf-save
   @extend #alev-save

#albpdf-cancel
   @extend #alev-cancel

#albpdf-open
   font-size: .8rem
   padding-left: 1.5rem
   padding-right: 1.5rem
   cursor: pointer
   background-color: $color-primary
   color: $color-white
   border-top-left-radius: $border-rad
   border-bottom-left-radius: $border-rad

#albpdf_name
   padding-left: 1rem
   padding-right: 1rem
   box-sizing: border-box

#albpdf_pdf
   display: none

.albpdf-buttons
   @extend .alev-buttons

#albvid-btnNew
   @extend #alev-btnNew

#albvid-save
   @extend #alev-save

#albvid-cancel
   @extend #alev-cancel

#albvid-open
   font-size: .8rem
   padding-left: 1.5rem
   padding-right: 1.5rem
   cursor: pointer
   background-color: $color-primary
   color: $color-white
   border-top-left-radius: $border-rad
   border-bottom-left-radius: $border-rad

#albvid_name
   padding-left: 1rem
   padding-right: 1rem
   box-sizing: border-box

#albvid_poster
   display: none

#albvid_addon
   background: transparent

.albvid-btnPlay
   border-color: $color-primary !important
   color: $color-primary !important

.albvid-buttons
   @extend .alev-buttons

.albvid-modal-header
   background-color: $color-primary
   color: $color-white

#albvid_embedPrev
   width: 100%

.albvid-close
   color: $color-white !important

.albvid-modal-footer
   background-color: transparentize($color-gray-light, .5)
