
.nav-tabs 
	li 
		display: block
		float: left
		line-height: 28px
		height: 2.4rem
		padding: 0
		margin: 0
		letter-spacing: .8px
		a
			color : $color-white !important
			font-weight: 400
	li.active
		border-bottom: .3rem solid $color-info-dark
.nav-tabs 
	position: relative
	height: 3rem
	background-color: $color-warning-dark
	margin: 0 auto
	width: 100%
	white-space: nowrap
	border: none
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
.card
	border-radius: $border-rad !important
.shme-img-institution
	max-width: 10rem !important
	min-width: 9.7rem
.text-right
	text-align: right

#shme-user-mem
	margin-left: 4.9rem
	height: 10rem
	width: 18rem
.shme-list-users
	list-style: none
	li
		img
			width: 10rem
			height: 10rem

#shme-management
	max-height: 20rem
	overflow-y: auto
	overflow-x: hidden
	img
		curosr: pointer
.shme-p-username
	margin: 0
	line-height: .4rem
.text-center
	text-align: center
.shme-img-member
	cursor: pointer