@import "../../_standardVariables.sass"
body
   background-color: $bg-color
   background-image: $bg-image
   background-position: center
   background-repeat: no-repeat
   background-size: cover

#navbar
   background-color: $color-skin
   margin-bottom: 3rem
   box-shadow: $shadow !important

.menu
   background-color: $color-white
   padding: 1rem
   border-radius: $border-rad
   box-shadow: $shadow

.brand-logo
   font-size: $size-header !important
   text-decoration: none !important
   outline: none !important
   margin-left: 2.5rem
   img
      width: 2rem

.logOut
   color: $color-white !important
   text-decoration: none !important
   outline: none !important
   margin-right: 2.5rem

.linkMenu
   margin-left: -1rem
   padding-left: 1rem
   margin-right: -1rem
   padding-right: 1rem
   padding-bottom: .5rem
   padding-top: .5rem
   display: block !important

.linkMenu:hover
   transition: .2s
   background: #f3f3f3
   cursor: pointer

.linkMenu-active
   background-color: $bg-color

.icon-custom
   display: inline !important
   font-size: 1rem !important
   height: auto !important
   line-height: normal !important

.icon-menu
   font-size: 1.3rem
