@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

*
   font-family: $font-curiosity

body
   background-color: $bg-color
   background-image: $bg-color
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   padding-top: 4.5rem

#navbar
   background-color: $color-skin
   color: $color-white !important
   //line-height: 3rem

.menu
   background-color: $color-white
   padding: 1rem
   border-radius: $border-rad

.logOut
   color: $color-white !important
   text-decoration: none !important
   outline: none !important
   margin-right: 2.5rem

#iconLogout
   color: $color-white
   font-size: 1.5rem
   margin-bottom: .3rem

.navbar-brand
   font-size: 1rem
   img
      width: 2rem
      display: inline !important

.linkMenu
   padding-left: 1rem
   padding-right: 1rem
   padding-top: .5rem
   padding-bottom: .5rem
   font-size: .9rem
   display: block !important

.linkMenu:hover
   transition: .2s
   background: $bg-color
   cursor: pointer

.linkMenu-active
   background-color: $bg-color

.linkMenuAside
   @extend .linkMenu
   padding-left: 2rem !important
   padding-right: 2rem !important
   color: $color-black-elegant-light !important

#slideBtn
   margin-top: .6rem
   color: $color-white

.logo-wrapper
   background-color: $color-skin
   margin-bottom: 1rem
   height: 10rem !important

#logOut-btn
   margin-bottom: 0rem !important
   margin-right: 0rem !important
   margin-top: .25rem !important
   background-color: $color-white !important
   color: $color-primary

.chip
   img
      margin: 0 8px 0 -14px !important

.hidden
   display: none

.linksMenu
   height: 11rem
   overflow-y: auto
   overflow-x: hidden

.navbar-brand
   color: $color-white !important
//=================================
//            Validation
//==================================*/
.error
   color: $color-danger
   font-size: 0.8rem

//=================================
//            scrooll
//==================================*/
::-webkit-scrollbar
   width: 8px

::-webkit-scrollbar-thumb
   -webkit-border-radius: 10px
   border-radius: 10px
   background: $color-primary
   cursor: pointer
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5)

::-webkit-scrollbar-track
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
   -webkit-border-radius: 10px
   border-radius: 10px
/* ==============================================
//end to style scroll
/*===============================================


//=================================
//            style ranking
//==================================*/
.curiosity-ranking
   .item-ranking
      cursor: pointer
      &:hover
         +transform(scale(1.1))
   margin: -1rem
   padding: 1rem
   padding-top: 1rem
   color: $color-info-light
/* ==============================================
//end to style f ranking
/*===============================================


/* style icons of inputs */
.md-form
   .prefix
      margin-top: .7rem !important

/*==============================================*/
// Visaulizador de pdf and video
#gst-modal-pdf-video,#gst-modal-instruction
   #gst-iframe-content
      border: none
      border-left-top-radius: $border-rad
      border-left-bottom-radius: $border-rad
   background-color: rgba(0,0,0,.9) !important
   .modal-body
      padding: 0 !important
   .modal-content
      border-radius: $border-rad !important
   .close
      position: absolute
      right: .2rem
      top: 0
      cursor: pointer
      z-index: 1000
      color: $color-white
   .gst-information
      padding-top: 0
      padding-left: 0
      padding-right: 0
      margin-bottom: 0
      max-width: 100%
      .gst-information-footer
         background-color: #ebeff1
         color: $color-gray-dark
         padding-top: .5rem
         padding-bottom: .5rem
         padding-right: .5rem
         position: relative
         bottom: 0

   .gst-col
      padding: 0 !important
   .row
      margin-right: 0
      margin-left: 0
   .gst-hr-top
      margin-top: 0
   .gst-hr-bottom
      margin-bottom: 0
   .gst-information-list
      max-height: 54%
      overflow: auto
      .media
         padding: .5rem
         cursor: pointer
         &:hover
            background-color: #ebeff1
         &.active
            background-color: #ebeff1
   .gst-informataion-header
      padding-top: 1rem
      padding-bottom: 1rem
      background-color: $color-primary
      color: $color-white
      border-top-right-radius: $border-rad
   p
      margin-bottom: 0
   .gst-name-content
      font-size: .9rem
   .gst-title-conten
      margin-top: 1rem
   .gst-name-content-list,.gst-views-content-list
      font-size: .7rem
.gst-bg-gray
   background-color: #e9ebee !important
#gst-video-pdf
   border: none

#gst-materialPdf
   border-color: $color-secondary
   color: $color-secondary !important
#gst-materialVideo
   border-color: $color-danger
   color: $color-danger !important
#gst-dataGame
   margin-bottom: 1rem

+mediaQuerie(576px,776px)
   #gst-modal-pdf-video,#gst-modal-instruction
      .modal-dialog
         min-width: 750px
+mediaQuerieMin(780px)
   #gst-modal-pdf-video,#gst-modal-instruction
      .modal-dialog
         min-width: 1000px

+mediaQuerie(576px,776px)
   #gst-modal-pdf-video,#gst-modal-instruction
      .modal-dialog
         min-width: 750px

#gst-img-instruction
   cursor: pointer
   width: 100%
   min-height: 46vh
   max-height: 62vh
#gst-prof
   color: $color-gray-dark

/* Sass master previsualizador */


/*===============================================*/
