html, body{
  height: 100%;
}

body{
  background-color: #bcc6c5;
  background-image: url(/packages/images/landing/bg-login-min.jpg);
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar_inicio{
  background-color: #2262ae !important;
}

#btn-fb{
  display: none;
  background: #4267B2;
  color: #fff;
  font-size: 1.2em !important;
}

#input-pass, #boxButtonsIn, .login-forgot{
  display: none;
}

#background{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7)
}

.login-box{
  background-color: rgba(0,68,103,0.8);
  border: solid 2px rgb(34, 98, 174);
  border-radius: 10px;
  padding: 25px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.login-img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.login-txt{
  margin-top: 25px;
  margin-bottom: 20px;
}

#login-icon-user, #login-icon-pass{
  background-color: rgba(60, 141, 187, 1);
  border-color: rgba(35, 118, 164, 1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
}

#login-icon-pass{
  background-color: rgba(60, 141, 187, 1);
  border-color: rgba(35, 118, 164, 1);
}

button{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 1.3em !important;
  border-radius: 10px !important;
}

#login-back{
  background-color: rgb(236, 45, 45);
}

#login-back:hover{
  background-color: rgb(200, 17, 17);
  transition: 0.4s;
}

.login-forgot{
  margin-top: 10px;
  letter-spacing: 1.1px;
  font-size: 1.3em;
}

.login-forgot > a {
  color: #f2f2f2;
}

.inputLogin{
  padding-left: 10px;
  color: #fff;
  border-bottom: solid 3px #3c8dbb !important;
  border-bottom-right-radius: 10px !important;
}

.inputLogin.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
  padding-left: -20px;
}
.inputLogin.form-control:-ms-input-placeholder {
  color: #fff;
  padding-left: -20px;
}
.inputLogin.form-control::-webkit-input-placeholder {
  color: #fff;
  padding-left: -20px;
}

.spanIcon{
  margin-top: -25px;
  margin-bottom: 5px;
  color: rgba(255,255,255,0.75);
  font-size: 1.5em;
}

.frasePie{
  color: rgba(255,255,255,0.75);
  text-align: center;
  font-size: 0.7em;
  letter-spacing: 0.8px;
  margin-bottom: -10px;
}

@media (max-width: 480px){
	.login-box{
	  margin-top: 0px;
	}
}

.forgot {
	margin-top: -10px !important;
}

.forgot a:hover li.fa-question-circle{
	color: #f80;
}
