*{
	margin: 0;
	padding: 0;
	font-family: 'font-curiosity';
}

@font-face{
   font-family: 'font-curiosity';
   src:  url('/packages/assets/systemFonts/muli.ttf');
}

div#titulo{
	height: 200px;
	background: url("/packages/assets/media/images/landing/privacidad-min.jpg") repeat center center fixed;		background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	margin-bottom: 30px;

}


h1.titulo-apartado{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 10px;
}

.index{
	padding: 5px 0px;
	border-bottom: 2px solid #2262ae;
}

.icon-circle{
	width: 40px;
	height: 40px;
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.icon-circle i{
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
}


div.bg-negro{
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
}

a#inicio{
	color: #fff;
	margin: 8px 5px;
}

.bg-nav{
	background-color: #2262ae;
}

div.logo-wrapper{
	border-bottom: 1px solid #2262ae;
}

/* Barra scroll */
::-webkit-scrollbar {
	width: 13px;
}
::-webkit-scrollbar-track {
	background-color: #fff;
}
::-webkit-scrollbar-thumb {
	background-color: #2262ae;
	border: solid 3px #fff;
	border-radius: 10px;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
/* FIN Barra scroll */

li{
	padding-top: 5px;
}

li a:hover{
	background-color: #f68e55;
	color: #fff !important;
}

.tab{
	margin-left: 30px;
	font-size: 1.1em;
}

.tab2{
	margin-left: 50px;
	font-size: 1.1em;
}

div.main-wrapper{
	padding-top: 52px;
}

#imgLogo{
	height: 2rem !important;
	width: 2rem !important;
	display: inline !important;
}

.secciones{
	border-radius: .28rem;
}

.active{
	background-color: rgba(255,255,255,.1);
}

@media (min-width: 310px) and (max-width: 570px){
	div.main-wrapper{
		padding-top: 47px;
	}

}
