@font-face
   font-family: 'font-curiosity'
   src: url('/packages/assets/systemFonts/muli.ttf')

$font-curiosity: font-curiosity
$shadow: .1rem .1rem .1rem rgba(0,0,0,0.2)
$border-rad: .28rem
$bg-color: rgb(232, 232, 232)
$bg-image: none
$bg-menu: url(/packages/assets/media/images/avatar/backgrounds/menDefSkBlue098754.png)
$color-light-black: rgb(42, 42, 42)
$color-light-gray: #bdbdbd
$color-dark-gray: #585d66
$color-black: #000
$color-gray: #8c8c8c
$color-white: #fff
$color-blue: #2262ae
$color-light-blue: #2d96ba
$color-blue-cyan: #44cbee
$color-light-yellow: #f2dd49
$color-yellow: #f2bc19
$color-pink: #e6218f
$color-light-pink: #e87eb1
$color-orange: #ed6922
$color-light-orange: #f68e55
$color-green: #3cb54a
$color-light-green: #94bc3d
$color-red: #ec2726
$color-purple: #65499d
$color-light-purple: #8a489b
$color-skin: $color-blue
$size-title: 1.1rem
$size-header: 1.2rem
$size-text: 1rem
$desktop-size: 1280px
$tablet-size-portrait: 768px
$tablet-size-landscape:	1024px
$smartphone-size-portrait:	320px
$smartphone-size-landscape: 480px
$height-banner: 5rem
