*{
   padding: 0;
   margin: 0;
}

body{
   background-color: rgb(232, 232, 232);
}

#navbar{
   margin-bottom: 3rem;
}

.navbar{
   background-color: #2196F3 !important;
   color: #fff !important;
   border: none !important;
}

#log-out{
   margin-right: 1.5rem;
   padding-top: .5rem;
   padding-bottom: .5rem;
   padding-left: 1rem;
   padding-right: 1rem;
   border: solid .15rem #fff;
   border-radius: 5rem;
   outline: none;
   text-decoration: none;
}

#log-out:hover{
   transition: .4s;
   box-shadow: .2rem .2rem .2rem rgba(0,0,0,0.2);
   color: #fff;
}

#name-menu{
   /*background-color: #2196F3;*/
   color: #fff;
   padding: 1rem;
   font-size: 1rem;
   border-top-left-radius: .5rem;
   border-top-right-radius: .5rem;
   margin: -1rem;
   margin-bottom: 1rem;
}

.menu{
   background-color: #fff;
   padding: 1rem;
   border-top-left-radius: .5rem;
   border-top-right-radius: .5rem;
   box-shadow: .1rem .1rem .1rem rgba(0,0,0,0.2);
}

.brand{
   background-color: #bdbdbd;
   color: #fff;
   padding-top: .6rem;
   padding-bottom: .6rem;
   padding-left: 1.3rem;
   padding-right: 1.3rem;
   border-radius: 1rem;
   text-decoration: none;
   outline: none !important;
}

.brand:hover, .brand-active, #btn-search:hover{
   transition: .4s;
   color: #ffffff;
   text-decoration: none;
   background-color: #8c8c8c;
}

#btn-search{
   background-color: #bdbdbd;
   color: #fff;
   border: none;
   cursor: pointer;
   border-top-right-radius: .5rem;
   border-bottom-right-radius: .5rem;
}
