.upch-col-children
	border-right: .04rem solid $color-blue
.upch-col-children
	padding-top: 4.7rem
	padding-bottom: 1rem


.text-center
	text-align: center
.btn-green
	background-color: $color-green !important
.upch-frm 
	.md-form 
		.prefix 
			left: .1rem
.btn-border-curiosity
	border-radius: $border-rad !important

.card-wrapper,.face,.card-up
	border-radius: $border-rad !important
.upch-carousel-content
	padding: 1rem !important

.upch-carousel-arrow
	margin-top: -2rem 