.upch-col-children
	padding-top: 0
	padding-bottom: 1rem
	margin-top: -2rem !important

.text-center
	text-align: center
.btn-green
	background-color: $color-green !important
.upch-frm 
	.md-form 
		.prefix 
			left: .1rem
.btn-border-curiosity
	border-radius: $border-rad !important

.card-wrapper,.face,.card-up
	border-radius: $border-rad !important
.upch-carousel-content
	padding: 1rem !important

.upch-carousel-arrow
	margin-top: -2rem 

.upch-col-upload-child
	border-left: .02rem solid $color-dark-gray

.carousel-btn-actions
