@import "../../_standardVariables.sass"
#profileContainerParent
   background: $color-blue
   margin: -1rem
   padding: 2rem
   border-top-left-radius: $border-rad
   border-top-right-radius: $border-rad
   img
      border: solid 1rem #fff
