// Import of the archive global of variables
@import "../../_standardVariables.sass"
@import "../../_mixins.sass"

*
	font-family: $font-curiosity


@media (max-width: $smartphone-size-landscape + 30px)
	.reg-icon
		display: block

	.reg-fontZise
		font-size: 11px !important

	.reg-fontZise2
		font-size: 13px !important

.reg-navbar
	margin-bottom: 1.5rem
	background-color: $color-primary !important

#reg-bg
	background-color: #eeeeee
	height: 100% !important
	padding-top: 5rem

#reg-registry
	padding-top: 2rem

#reg-gender
	.mdb-select
		width: 95% !important
		margin-left: 1rem !important
		@media (max-width: $smartphone-size-portrait + 30px)
			width: 84% !important
			margin-left: 3rem !important

.reg-rounded
	border-radius: $border-rad !important
	.img-fluid
		@media (min-width: $smartphone-size-landscape + 30px) and (max-width: $tablet-size-portrait - 50px)
			width: 100% !important

.reg-colorHeader
	background-color: $color-primary
	@media (max-width: $smartphone-size-portrait + 30px)
		margin-bottom: 0rem !important

#reg-form
	.md-form
		width: 100% !important
		@media (max-width: $smartphone-size-portrait + 30px)
			width: 155% !important
			margin-left: -5rem
			.prefix
				display: none
		@media (min-width: $smartphone-size-landscape + 30px) and (max-width: $tablet-size-portrait - 50px)
			margin-left: 0rem
			.prefix
				display: none

#reg-imgLogo
	width: 2rem
	height: 2rem

.reg-logo
	display: inline !important

#reg-navlogo
	@media (max-width: $smartphone-size-portrait + 30px)
		font-size: 1rem !important

.reg-btnSesion
	background-color: $color-info-dark
	margin-bottom: 1rem

.reg-btnRegister
	background-color: $color-primary
	margin-bottom: 1.35rem
	margin-top: 1rem
	float: right
	padding-left: 4rem
	padding-right: 4rem

.reg-nav-item
	@media (max-width: $tablet-size-portrait + 30px)
		margin-top: .2rem !important

.reg-icon
	color: $color-white !important

.reg-icon-bl
	color: #4285F4 !important

.form-inline .form-group
	display: block !important

#reg-field
	text-align: left
	margin-top: 1rem

#reg-msj
	font-size: .9rem

#reg-msjTit
	font-size: 1.2rem

.option
	p
		font-size: .96rem
