/* main-parent */
@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 3, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.hm-carousel {
  margin-top: -6rem;
}

/* line 6, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.hm-carousel-item {
  text-decoration: none !important;
  outline: none !important;
  height: auto !important;
}

/* line 11, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.itemCarousel {
  background-color: white;
  border-radius: 0.28rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
/* line 15, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.itemCarousel img {
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}
/* line 18, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.itemCarousel h6 {
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  background-color: #2d96ba;
}

/* line 25, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
#prntHome-contentInfo {
  background-color: white;
  border-radius: 0.28rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}
/* line 32, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
#prntHome-contentInfo h5 {
  color: white;
  background: #2262ae;
  margin-top: -2.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}

/* line 44, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
#prntHome-contentInfo-arrow {
  width: 3rem;
  height: 3rem;
  background-color: #2262ae;
  margin-top: -4rem;
  transform: rotate(45deg);
  margin-bottom: 0.5rem;
}

/* line 52, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.banner-parent {
  height: 5rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
  background-image: url(/packages/assets/media/images/child/store/cstbannerskblue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.upch-col-children {
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: -2rem !important;
}

/* line 6, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.text-center {
  text-align: center;
}

/* line 8, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.btn-green {
  background-color: #3cb54a !important;
}

/* line 12, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.upch-frm-child .md-form .prefix {
  left: 0.1rem;
}

/* line 14, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.btn-border-curiosity {
  border-radius: 0.28rem !important;
}

/* line 17, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.card-wrapper, .face, .card-up {
  border-radius: 0.28rem !important;
}

/* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.upch-carouse-content {
  padding: 1rem !important;
  margin-top: -2.9rem !important;
  position: relative;
  z-index: 10000;
}

/* line 25, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
.upch-carousel-arrow {
  position: absolute;
  z-index: -99;
  left: 15rem;
  top: 4rem;
}

/* line 31, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
[class*="step-"] {
  display: none;
  min-height: 18rem;
}

/* line 35, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_child_registration.sass */
[class*="step-"].active {
  display: block;
}

/* line 1, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.text-left {
  text-align: left;
}

/* line 3, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.text-right {
  text-align: right;
}

/* line 5, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.bg-blue {
  background-color: #2262ae !important;
}

/* line 7, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.container-fluid.main {
  padding-top: 1rem;
}

/* line 9, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-novedades, .p-data-editing {
  margin-top: -1.7em !important;
  margin-bottom: 1rem !important;
  border-radius: 0.28rem !important;
}

/* line 15, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card-border-standard .card-block, .card-border-standard .modal-footer, .card-border-standard {
  border-radius: 0.28rem !important;
}

/* line 18, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.upch-img-new {
  over-flow: hidden;
}
/* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.upch-img-new img {
  width: 5rem !important;
  height: 5rem !important;
  max-width: 100%;
  border-radius: 50%;
  margin-top: 1rem;
  border: 0.1rem solid #2e2e2e;
}
/* line 27, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.upch-img-new img:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

/* line 30, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-left {
  width: 20%;
  display: inlinte-block;
  float: left;
}

/* line 35, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-right {
  width: 76%;
  display: inline-block;
  float: left;
  margin-left: 0.4rem;
  padding: 0.6rem;
}
/* line 41, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-right p {
  margin-bottom: 0 !important;
}
/* line 43, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-right hr {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

/* line 47, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.upch-card-new .card-block {
  padding-bottom: 0.3rem !important;
}

/* line 51, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .upch-card-title {
  background-color: #2e2e2e;
  color: white;
  position: absolute;
  top: -0.3rem;
  left: 10rem;
  border-radius: 0.28rem;
  padding: 0.6rem;
  font-weight: bold;
  width: 20rem;
}
/* line 61, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .upch-card-title h5 {
  margin-bottom: 0 !important;
}

/* line 64, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.upch-card-new-parent .card-block {
  padding-bottom: 0.1rem;
}

/* line 67, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .upch-card-description {
  margin-top: 2rem;
}

/* line 69, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-user {
  display: none;
}

/* line 71, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-left {
  border-left: 0.09rem solid #bdbdbd !important;
}

/* line 73, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-right {
  border-right: 0.09rem solid #bdbdbd !important;
}

/* line 75, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-bottom {
  border-bottom: 0.03rem solid #bdbdbd !important;
}

/* line 77, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-top {
  border-top: 0.09rem solid #585d66 !important;
}

/* line 79, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-list-news {
  padding: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}

/* line 83, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-list-news > li {
  margin-bottom: 0.9rem;
  cursor: pointer;
}

/* line 87, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.upch-card-update-user .card-block {
  padding-bottom: 0.1rem;
}

/* line 90, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card-block-right {
  padding: 1rem;
  padding-right: 1rem;
}

/* line 93, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-standard {
  border-radius: 0.28rem;
}

/* line 95, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-user {
  padding-left: 3rem;
  padding-right: 4rem;
}

/* line 99, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
div[class*="tab"] {
  display: none;
  min-height: 12.8rem;
}

/* line 103, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
div[class*="tab"].active {
  display: block;
}

/* line 105, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.hidden {
  display: none;
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 3, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-profileContainer {
  background: #2262ae;
  margin: -1rem;
  padding: 2rem;
  margin-bottom: 1rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}

/* line 11, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-imgProfile {
  width: 99%;
  border-radius: 100%;
  border: solid 0.5rem white;
}

/* line 16, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-home {
  color: #e6218f;
}

/* line 19, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-videos {
  color: #ec2726;
}

/* line 22, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-files {
  color: #2262ae;
}

/* line 25, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-addChild {
  background-color: white;
  border-radius: 0.28rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
/* line 31, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-addChild span {
  color: #3cb54a;
}

/* line 35, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-addChild-aside span {
  color: #3cb54a;
}

/* line 38, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-exit {
  color: #2262ae;
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 7, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
#lp-banner {
  height: 5rem;
  border-radius: 0.28rem;
  background-image: url("/packages/assets/media/images/child/store/cstbannerskblue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 12, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-btn-degrees {
  border-radius: 0.28rem;
}

/* line 15, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-btnTopic {
  border-radius: 0.28rem;
}

/* line 18, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-topic-active {
  background-color: #2bbbad !important;
}
/* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-topic-active:hover {
  background-color: #2bbbad !important;
}

/* line 23, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-btn-active {
  background-color: #2bbbad !important;
}
/* line 25, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-btn-active:hover {
  background-color: #2bbbad !important;
}

/* line 28, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-container-degrees {
  background-color: white;
  border-radius: 0.28rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
}
@media (max-width: 1024px) {
  /* line 28, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  .lp-container-degrees {
    width: 100%;
  }
}
@media (max-width: 320px) {
  /* line 28, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  .lp-container-degrees {
    text-align: center;
    padding: 0.3rem 0.8rem 0.3rem 0.2rem;
  }
}

/* line 38, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-text-degrees {
  border-right: 0.1rem solid black;
  margin-top: 1.8%;
  padding-top: 0.3rem;
  margin-right: 0.1rem;
}
@media (max-width: 320px) {
  /* line 38, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  .lp-text-degrees {
    margin-right: 0rem;
    border-right: 0.1rem solid white;
  }
}
@media (min-width: 480px) and (max-width: 758px) {
  /* line 38, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  .lp-text-degrees {
    margin-right: 0rem;
    border-right: 0.1rem solid white;
  }
}

/* line 50, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-btn-degrees {
  margin-right: -0.3rem !important;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 50, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  .lp-btn-degrees {
    margin-right: 0.3rem !important;
  }
}

/* line 55, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
#lp-row-degrees {
  margin-top: 1rem;
}

/* line 58, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-container-pdf {
  background-color: white;
  padding: 0.1rem 0.8rem 0.8rem 0.8rem;
  border-radius: 0.28rem;
}

/* line 63, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-card-pdf {
  border-radius: 0.28rem !important;
  height: auto;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 69, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-bg, .lp-bg-card {
  background: url(/packages/assets/media/images/child/pdf.png) repeat center center;
  background-size: cover;
  border-radius: 0.28rem;
}

/* line 77, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-name-pdf {
  word-wrap: break-word !important;
}

/* line 80, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-text-card {
  color: white;
}

/* line 83, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-hr {
  border: 0.1rem solid white;
}

/* line 86, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-row-slide {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  background-color: white;
  border-radius: 0.28rem;
  margin-bottom: 2.5rem;
}
/* line 91, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-row-slide .carousel-multi-item {
  margin-bottom: 3.5rem !important;
}
/* line 93, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-row-slide .carousel-multi-item .controls-top {
  margin-bottom: 0;
}

/* line 96, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
#lp-row-slidePdfs {
  margin-top: -1.5rem !important;
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 96, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  #lp-row-slidePdfs {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 101, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  #lp-row-contPdf {
    display: block !important;
  }
}

/* line 105, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
#lp-row-showPDF {
  background-color: white;
  border-radius: 0.28rem;
  height: 98%;
}

/* line 110, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
#lp-banner-showPDF {
  height: 5rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
  background-image: url("/packages/assets/media/images/child/store/cstbannerskblue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 116, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-content-pdf {
  padding: 0.8rem 0.8rem 1.2rem 0.8rem;
  height: 88%;
}
@media (min-width: 480px) and (max-width: 758px) {
  /* line 116, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  .lp-content-pdf {
    height: 0%;
  }
}

@media (max-width: 320px) {
  /* line 122, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  #lp-pdf {
    height: 95%;
  }
}
@media (min-width: 480px) and (max-width: 758px) {
  /* line 122, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  #lp-pdf {
    display: none;
  }
}

/* line 128, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
#lp-text-info {
  display: none;
}
@media (min-width: 480px) and (max-width: 758px) {
  /* line 128, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
  #lp-text-info {
    display: block;
    margin-top: 2rem;
  }
}

/* line 134, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_library_pdfs.sass */
.lp-content-disabled {
  display: none;
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 5, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-navbar {
  margin-bottom: 1.5rem;
}

/* line 8, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-bg {
  background-color: #eeeeee;
  height: 100% !important;
}

/* line 12, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-registry {
  padding-top: 3rem;
}

/* line 16, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-gender .mdb-select {
  width: 115% !important;
}
@media (max-width: 350px) {
  /* line 16, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-gender .mdb-select {
    width: 100% !important;
  }
}
@media (max-width: 350px) {
  /* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-gender .mdb-select {
    width: 84% !important;
    margin-left: 3rem !important;
  }
}

/* line 25, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-rounded {
  border-radius: 0.28rem !important;
}

/* line 28, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-colorHeader {
  background-color: #2262ae;
}
@media (max-width: 350px) {
  /* line 28, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  .reg-colorHeader {
    margin-bottom: 0rem !important;
  }
}

@media (max-width: 350px) {
  /* line 34, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-form .md-form {
    width: 155% !important;
    margin-left: -5rem;
  }
  /* line 38, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-form .md-form .prefix {
    display: none;
  }
}

/* line 41, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-imgLogo {
  width: 2rem;
  height: 2rem;
}

/* line 45, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-logo {
  display: inline !important;
}
