/* main-parent */
@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 5, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.hm-carousel {
  margin-top: -6rem;
}

/* line 8, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.hm-carousel-item {
  text-decoration: none !important;
  outline: none !important;
  height: auto !important;
}

/* line 13, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.itemCarousel {
  background-color: white;
  border-radius: 0.28rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
/* line 17, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.itemCarousel img {
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}
/* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.itemCarousel h6 {
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  background-color: #44c6ee;
}

/* line 27, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
#prntHome-contentInfo {
  background-color: white;
  border-radius: 0.28rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}
/* line 34, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
#prntHome-contentInfo h5 {
  color: white;
  background: #2262ae;
  margin-top: -2.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}

/* line 46, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
#prntHome-contentInfo-arrow {
  width: 3rem;
  height: 3rem;
  background-color: #2262ae;
  margin-top: -4rem;
  transform: rotate(45deg);
  margin-bottom: 0.5rem;
}

/* line 54, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_home.sass */
.banner-parent {
  height: 5rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
  background-image: url(/packages/assets/media/images/child/store/cstbannerskblue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 5, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.text-left {
  text-align: left;
}

/* line 7, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.text-right {
  text-align: right;
}

/* line 9, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.bg-blue {
  background-color: #2262ae !important;
}

/* line 11, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.pf-bg-default {
  background-color: #2bbbad !important;
}

/* line 13, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.bg-green {
  background-color: #f68e55 !important;
}

/* line 15, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
#container-baner {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 18, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.container-fluid.main {
  padding-top: 1rem;
}

/* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-novedades, .p-data-editing {
  padding: 0.5rem !important;
  margin-top: -1.7em !important;
  margin-bottom: 1.7rem !important;
  border-radius: 0.28rem !important;
}

/* line 27, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card-border-standard .card-block, .card-border-standard .modal-footer, .card-border-standard {
  border-radius: 0.28rem !important;
}

/* line 30, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-img-new {
  over-flow: hidden;
}
/* line 32, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-img-new img {
  width: 5rem !important;
  height: 5rem !important;
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 50%;
}

/* line 40, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-left {
  width: 20%;
  display: inlinte-block;
  float: left;
}

/* line 45, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-right {
  width: 76%;
  display: inline-block;
  float: left;
  margin-left: 0.4rem;
  padding: 0.6rem;
}
/* line 51, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-right p {
  margin-bottom: 0 !important;
}
/* line 53, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .card-right hr {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

/* line 57, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-new .card-block {
  padding-bottom: 0.3rem !important;
}

/* line 61, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .p-card-title {
  background-color: #2d96ba;
  color: white;
  position: absolute;
  top: -0.3rem;
  left: 10rem;
  border-radius: 0.28rem;
  padding: 0.6rem;
  font-weight: bold;
  width: 20rem;
}
/* line 71, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .p-card-title h5 {
  margin-bottom: 0 !important;
}

/* line 74, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-new-parent .card-block {
  padding-bottom: 0.1rem;
}

/* line 77, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card .p-card-description {
  margin-top: 2rem;
}

/* line 79, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-user {
  display: none;
}

/* line 81, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-left {
  border-left: 0.09rem solid #bdbdbd !important;
}

/* line 83, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-right {
  border-right: 0.09rem solid #bdbdbd !important;
}

/* line 85, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-bottom {
  border-bottom: 0.03rem solid #bdbdbd !important;
}

/* line 87, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-top {
  border-top: 0.09rem solid #585d66 !important;
}

/* line 89, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-list-news {
  padding: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  max-height: 21rem;
  overflow: auto;
}

/* line 95, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-list-news > li {
  margin-bottom: 0.9rem;
  cursor: pointer;
}

/* line 99, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-update-user .card-block {
  padding-bottom: 0.1rem;
}

/* line 102, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.card-block-right {
  padding: 1rem;
  padding-right: 1rem;
}

/* line 105, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.border-standard {
  border-radius: 0.28rem;
}

/* line 107, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.p-card-user {
  padding-left: 3rem;
  padding-right: 4rem;
}

/* line 111, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
div[class*="tab"] {
  display: none;
  min-height: 12.8rem;
}

/* line 115, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
div[class*="tab"].active {
  display: block;
}

/* line 117, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.hidden {
  display: none;
}

/* line 119, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
#p-card-pdf {
  max-height: 33rem;
  overflow: hidden;
}

/* line 122, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
#p-row-pdf {
  margin-top: -1rem;
}

/* line 124, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.pf-border-rounded {
  border-radius: 0.28rem;
}

/* line 126, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.pf-bgCardEdit {
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}

/* line 131, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_profile.sass */
.stepper-horizontal li:hover {
  background-color: transparent !important;
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 5, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-profileContainer {
  background: #2262ae;
  margin: -1rem;
  padding: 2rem;
  margin-bottom: 1rem;
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}

/* line 13, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-imgProfile {
  width: 99%;
  border-radius: 100%;
  border: solid 0.5rem white;
}

/* line 18, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-home {
  color: #e6218f;
}

/* line 21, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-videos {
  color: #ec2726;
}

/* line 24, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-files {
  color: #2262ae;
}

/* line 27, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-addChild {
  background-color: white;
  border-radius: 0.28rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
/* line 33, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-addChild span {
  color: #3cb54a;
}

/* line 37, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-addChild-aside span {
  color: #3cb54a;
}

/* line 40, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_master_parent.sass */
#parentMenu-icon-exit {
  color: #2262ae;
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 6, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
* {
  font-family: font-curiosity;
}

/* line 9, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-navbar {
  margin-bottom: 1.5rem;
  background-color: #2262ae !important;
}

/* line 13, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-bg {
  background-color: #eeeeee;
  height: 100% !important;
  padding-top: 5rem;
}

/* line 18, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-registry {
  padding-top: 3rem;
}

/* line 22, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-gender .mdb-select {
  width: 95% !important;
  margin-left: 1rem !important;
}
@media (max-width: 350px) {
  /* line 22, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-gender .mdb-select {
    width: 84% !important;
    margin-left: 3rem !important;
  }
}

/* line 29, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-rounded {
  border-radius: 0.28rem !important;
}
@media (min-width: 510px) and (max-width: 718px) {
  /* line 31, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  .reg-rounded .img-fluid {
    width: 100% !important;
  }
}

/* line 35, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-colorHeader {
  background-color: #2262ae;
}
@media (max-width: 350px) {
  /* line 35, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  .reg-colorHeader {
    margin-bottom: 0rem !important;
  }
}

/* line 41, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-form .md-form {
  width: 100% !important;
}
@media (max-width: 350px) {
  /* line 41, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-form .md-form {
    width: 155% !important;
    margin-left: -5rem;
  }
  /* line 46, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-form .md-form .prefix {
    display: none;
  }
}
@media (min-width: 510px) and (max-width: 718px) {
  /* line 41, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-form .md-form {
    margin-left: 0rem;
  }
  /* line 50, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-form .md-form .prefix {
    display: none;
  }
}

/* line 53, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
#reg-imgLogo {
  width: 2rem;
  height: 2rem;
}

/* line 57, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-logo {
  display: inline !important;
}

@media (max-width: 350px) {
  /* line 60, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  #reg-navlogo {
    font-size: 1rem !important;
  }
}

/* line 64, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-btnSesion {
  background-color: #2d96ba;
}

/* line 67, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
.reg-btnRegister {
  background-color: #2bbbad;
}

@media (max-width: 798px) {
  /* line 70, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry.sass */
  .reg-nav-item {
    margin-top: 0.2rem !important;
  }
}

@font-face {
  font-family: "font-curiosity";
  src: url("/packages/assets/systemFonts/muli.ttf");
}

/* line 6, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
* {
  font-family: font-curiosity;
}

/* line 9, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-navbar {
  margin-bottom: 1.5rem;
  background-color: #2262ae !important;
}

/* line 13, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-infoCloseMD {
  background-color: #2d96ba !important;
}

/* line 16, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-infoCloseSM {
  border-color: #f68e55 !important;
  color: #f68e55 !important;
}

/* line 20, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
#rfc-bg {
  background-color: #eeeeee;
  height: 100% !important;
  padding-top: 5rem;
}

/* line 25, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.jumbotron {
  border-radius: 0.28rem !important;
}

/* line 28, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-details {
  background-color: #2d96ba;
  color: white;
  margin-bottom: 4rem;
}

/* line 33, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-hidde {
  display: none !important;
}

/* line 36, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-rounded {
  border-radius: 0.28rem !important;
}

/* line 40, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
#rfc-form .md-form {
  width: 100% !important;
}
@media (max-width: 350px) {
  /* line 40, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  #rfc-form .md-form {
    width: 155% !important;
    margin-left: -5rem;
  }
  /* line 45, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  #rfc-form .md-form .prefix {
    display: none;
  }
}
@media (min-width: 510px) and (max-width: 718px) {
  /* line 40, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  #rfc-form .md-form {
    margin-left: 0rem;
  }
  /* line 49, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  #rfc-form .md-form .prefix {
    display: none;
  }
}

/* line 53, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
#rfc-gender .mdb-select {
  width: 96% !important;
  margin-left: 1rem !important;
}
@media (max-width: 350px) {
  /* line 53, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  #rfc-gender .mdb-select {
    width: 84% !important;
    margin-left: 3rem !important;
  }
}

/* line 60, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
#rfc-average {
  width: 92% !important;
}
@media (max-width: 350px) {
  /* line 60, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  #rfc-average {
    width: 84% !important;
  }
}

/* line 65, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-content-average {
  margin-left: 1rem;
}
@media (max-width: 350px) {
  /* line 65, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
  .rfc-content-average {
    margin-left: -2rem !important;
  }
}

/* line 71, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
#rfc-modalPayment .modal-content {
  border-radius: 0.28rem !important;
}

/* line 74, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-tag-default {
  background-color: #585d66;
}

/* line 77, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-tag-info {
  background-color: #44c6ee;
}

/* line 80, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-btn-default {
  background-color: #2bbbad;
}

/* line 83, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-btnCancel {
  border-color: #f68e55 !important;
  color: #f68e55 !important;
}

/* line 87, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-btn-primary {
  background-color: #2bbbad;
}

/* line 90, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-modal-header {
  background-color: #2262ae;
  color: white;
  border-top-left-radius: 0.2rem !important;
  border-top-right-radius: 0.2rem !important;
}

/* line 96, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-modalClose {
  color: white;
}
/* line 98, C:/xampp/htdocs/Curiosity/curiosity_v1/public/packages/assets/css/parent/sass/_registry_firstchild.sass */
.rfc-modalClose:hover {
  color: white;
}
