@import "../_standarVariables.sass"
@import "mixins.sass"

.img-nav
	border-radius: $border-rad

.img-responsive
	width: 100%

#card-news-games
	+background-cover("/packages/assets/media/images/child/game_news.jpg")
	
#card-games-populars
	+background-cover("/packages/assets/media/images/child/popularsgames.jpg")

#card-news-videos
	+background-cover("/packages/assets/media/images/child/videosnews.jpg")

#card-more-calification
	+background-cover("/packages/assets/media/images/child/gamepopulars.jpg")

#card-games-recoments
	+background-cover("/packages/assets/media/images/child/gamesrecoments.jpg")

.card-mask
	background-color: rgba(0,0,0,.6)

.card-mask:hover
	background-color: rgba(0,0,0,.3)

.standard-bordered
	border-radius: $border-rad

#container-main-child
	padding-left: 0 !important
	padding-right: 0 !important

#container-main-child>
	.row>
		.col 
			&:first-child
				padding-left: 0!important

#container-main-child>
	.row>
		.col	
			&:last-child
				padding-right: 0 !important

.btn-view-more
	background-color: transparent!important
	border: .1rem #fff solid!important
.card
	+animation(1s,hide-efect,infinite)

.btn-view-more
	&:hover
		color: #fff!important

+keyframes(hide-efect)
	0%
		+opacity(1)
	50%
		+opacity(.5)
	100%
		+opacity(0)
		display: none