/*
Error: Invalid CSS after "...nfig/view-child": expected expression (e.g. 1px, bold), was ".configuration_..."
        on line 116 of sass/_configuration_account.sass
        from line 12 of /opt/lampp/htdocs/curiosity-v.1.0/public/packages/assets/css/child/main.sass

111: 	border-top-right-radius: $border-rad
112: 	border-top-left-radius: $border-rad
113:
114: .ca-box
115: 	&:hover
116: 		transition: .5sview-children/getInfoToConfig/view-child.configuration_account#
117: 		@extend .ca-boxActive
118:
119: #ca-titileConf
120: 	background-color: $color-skin
121: 	color: $color-white

Backtrace:
sass/_configuration_account.sass:116
/opt/lampp/htdocs/curiosity-v.1.0/public/packages/assets/css/child/main.sass:12
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:744:in `assert_done'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:76:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/script/parser.rb:240:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/script.rb:27:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:1151:in `parse_script'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:721:in `parse_property'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:692:in `parse_property_or_rule'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:658:in `parse_line'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:545:in `block in build_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `build_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:545:in `block in build_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `build_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/var/lib/gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/var/lib/gems/2.3.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/2.3.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/2.3.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/2.3.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...nfig/view-child\": expected expression (e.g. 1px, bold), was \".configuration_...\"\A         on line 116 of sass/_configuration_account.sass\A         from line 12 of /opt/lampp/htdocs/curiosity-v.1.0/public/packages/assets/css/child/main.sass\A \A 111: 	border-top-right-radius: $border-rad\A 112: 	border-top-left-radius: $border-rad\A 113: \A 114: .ca-box\A 115: 	&:hover\A 116: 		transition: .5sview-children/getInfoToConfig/view-child.configuration_account#\A 117: 		@extend .ca-boxActive\A 118: \A 119: #ca-titileConf\A 120: 	background-color: $color-skin\A 121: 	color: $color-white"; }
